div{
  position: relative;
  z-index: 90;
  background-color: rgb(34, 34, 34);
}
section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 1400px;
  margin: auto;
  position: relative;
  z-index: 90;
}

@media (max-width:1529px){
  section{
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:600px){

}

